<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <%- include("includes/header.ejs"); %>

    <h1>Sorry, Your account not create. Please create your account. </h1>

    <%- include("includes/footer.ejs"); %>
</body>
</html>