<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>instagram</title>
</head>
<body>
    <%- include("includes/header.ejs"); %>

    <h1>Please Enter the username in url link</h1>
    <h2>ex: localhost:8000/cats</h2>

    <%- include("includes/footer.ejs"); %>
</body>
</html>